.k3s-env/
*.log
ansible.cfg
kubeconfig
*.decrypted~*
.decrypted~secret.yaml
nautobot_secrets.yml
generated_certificate/
key.txt
roles/install-cert-manager/templates/prod-byrnbaker-me-prod.j2
.gitignore
kube-prometheus-stack/