apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: local-reverse-proxy-ingressroute
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`proxmox.local.byrnbaker.me`)
      kind: Rule
      middlewares:
        - name: reverse-prox-default-headers
      services:
        - name: proxmox

  tls:
    secretName: local-byrnbaker-me-staging-tls

