---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: gitlab-{{ root_domain_secret }}
  namespace: default
spec:
  secretName: gitlab-{{ root_domain_secret }}-tls
  commonName: "gitlab.{{ public_domain }}"
  dnsNames: 
    - "gitlab.{{ public_domain }}"
    - "www.gitlab.{{ public_domain }}"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
      reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "traefik,gitlab,cattle-system,nautobot"