---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: gitlab
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`gitlab.local.byrnbaker.me`) && PathPrefix(`/admin/sidekiq`)
      kind: Rule
      services:
        - name: gitlab-webservice-default
          port: 8080
    - match: Host(`gitlab.local.byrnbaker.me`)
      kind: Rule
      services:
        - name: gitlab-webservice-default
          port: 8181
      middlewares:
        - name: default-headers
          namespace: default
  tls:
    secretName: local-byrnbaker-me-staging-tls
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: minio
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`minio.local.byrnbaker.me`)
      kind: Rule
      services:
        - name: gitlab-minio-svc
          port: 9000
  tls:
    secretName: local-byrnbaker-me-staging-tls
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: registry
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`registry.local.byrnbaker.me`)
      kind: Rule
      services:
        - name: gitlab-registry
          port: 5000
  tls:
    secretName: local-byrnbaker-me-staging-tls
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: gitlab-ssh
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik-external

spec:
  entryPoints:
    - gitlab-shell
  routes:
    - match: HostSNI('*')
      kind: Rule
      services:
        - name: gitlab-gitlab-shell 
          port: 22