---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: local-byrnbaker-me
  namespace: default
spec:
  secretName: local-byrnbaker-me-staging-tls
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  commonName: "{{ commonname }}"
  dnsNames: {{ dnsnames }}
