---
kind: IngressRoute
apiVersion: traefik.containo.us/v1alpha1
metadata:
  name: longhorn-frontend
  namespace: longhorn-system

spec:
  entryPoints: 
    - websecure
  routes:
    - match: Host(`longhorn.{{ install_domain }}`) 
      kind: Rule
      services:
      - name: longhorn-frontend
        port: 443
  tls:
    secretName: {{ production_secret }}