apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: rancher-ui-ingress
  namespace: cattle-system
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`rancher.{{ install_domain }}`)
      kind: Rule
      services:
        - name: rancher
          port: 443
  tls:
    secretName: {{ production_secret }}